<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.springboot.sample" level="TRACE"/>
    <!-- nacos日志打印级别 -->
    <logger name="com.alibaba.nacos.client.naming" level="WARN" additivity="false"/>

    <!--    &lt;!&ndash;日志输出位置&ndash;&gt;-->
    <property name="LOG_HOME" value="/opt/asset/block/log"/>

    <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
    <property name="LOG_PATTERN_CONSOLE"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %clr(${LOG_LEVEL_PATTERN:-%5p}) %logger{50}:%L - %msg%n"/>

    <property name="LOG_PATTERN_FILE"
              value="%msg%n"/>

    <!--info日志-->
    <appender name="fileLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/%d{yyyyMMdd}/info/info_%d{yyyyMMdd}.%i.log</FileNamePattern>
            <!--单个日志大小-->
            <maxFileSize>100MB</maxFileSize>
            <!--日志文件保留天数-->
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN_FILE}</pattern>
        </encoder>
    </appender>

    <appender name="fileLogError" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/%d{yyyyMMdd}/error/error_%d{yyyyMMdd}.%i.log</FileNamePattern>
            <!--单个日志大小-->
            <maxFileSize>100MB</maxFileSize>
            <!--日志文件保留天数-->
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN_CONSOLE}</pattern>
        </encoder>
    </appender>

    <!-- 开发、测试环境 -->
    <springProfile name="dev,test">
<!--          <logger name="org.springframework.web" level="INFO"/>-->
<!--          <logger name="org.springboot.sample" level="INFO"/>-->
<!--          <logger name="com.block" level="DEBUG"/>-->
      <logger name="org.springframework.web" level="ERROR"/>
       <logger name="org.springboot.sample" level="ERROR"/>
       <logger name="com.block" level="ERROR"/>
    </springProfile>

 <!-- 生产环境 -->
    <springProfile name="prod">
<!--                  <logger name="org.springframework.web" level="INFO"/>-->
<!--                  <logger name="org.springboot.sample" level="INFO"/>-->
<!--                  <logger name="com.block" level="DEBUG"/>-->
        <logger name="org.springframework.web" level="ERROR"/>
        <logger name="org.springboot.sample" level="ERROR"/>
        <logger name="com.block" level="ERROR"/>
    </springProfile>

    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="fileLog" />
        <appender-ref ref="fileLogError" />
    </root>

</configuration>