<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.block.chain.mapper.QuoteCurrencyMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.block.chain.entity.QuoteCurrencyEntity" id="quoteCurrencyMap">
        <result property="id" column="id"/>
        <result property="symbol" column="symbol"/>
        <result property="symbolExplain" column="symbol_explain"/>
        <result property="unit" column="unit"/>
        <result property="acronym" column="acronym"/>
        <result property="nationExplain" column="nation_explain"/>
    </resultMap>


    <!--获取所有的计价货币-->
    <select id="getAllQuoteCurrency"  resultType="java.lang.String">
        SELECT
            symbol
        FROM
            quote_currency
    </select>


</mapper>