<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.block.chain.mapper.SymbolSlugInfoMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.block.chain.entity.SymbolSlugInfoEntity" id="symbolSlugInfoMap">
        <result property="id" column="id"/>
        <result property="symbol" column="symbol"/>
        <result property="slug" column="slug"/>
    </resultMap>

    <!--获取symbol - slug对应关系信息 -->
    <select id="getSymbolSlugCount" resultType="java.lang.Integer">
        SELECT  COUNT(*) from  symbol_slug_info
        WHERE
        1=1
        <if test="symbol != null and symbol != ''">
            AND symbol = #{symbol}
        </if>
    </select>


</mapper>